language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"

install:
  - pip install -r requirements.txt
  - pip install -r requirements-test.txt

script:
  - py.test

after_success:
  - pip install coveralls
  - coveralls
